<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prédiction de Couleur de Pétale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Entrez les dimensions de la pétale</h1>
        <form action="/predict" method="post">
            <label for="length">Longueur :</label>
            <input type="text" name="length" required>
            <label for="width">Largeur :</label>
            <input type="text" name="width" required>
            <button type="submit">Prédire</button>
        </form>
        
        
    </div>
</body>
</html>
