h1 {
    font-size : 45px ;
    text-align: center;
    margin-left: 200px;
}

.fakeh2 {
    text-align: right;
    font-size : 20px;
    margin-left: 200px;
}

hr {
    height: 2px;
    background-color: black;
    border-color: black;
}

body {
    font-family: Century Gothic;
}



img {
    display: block;
    height : 250px;
    border-radius: 50%;
    margin-right: 250px;
    margin-left : 100px;
}

.container {
    display : flex;
    align-items: center;
}

.texte {
    display: block;
}


.conteneur {
    display: block;
}



.redroite {
    font-size : 22px; 
    margin-left: 70px;
}

.menu {
    width: 80%;
    background-color: rgb(117, 177, 233);
    padding: 20px;
    max-width: 500px;
  }

.droite {
    font-size : 30px; 
    margin-left: 40px;
}

.lol {
    font-size: 21px;

}
